body{
    
}
@keyframes example {
    from {background:radial-gradient(skyblue,yellow);}
    to {background: radial-gradient(skyblue,white);}
}
.weather{
    font-family:sans-serif;
    font-weight: bold;
    color:firebrick;
}
.modified{
    background: radial-gradient(skyblue,white);
    animation-name: example;
    animation-duration: 4s;}


.border{
    border-top: 5px dotted slategray;
}
.edit{
margin-top: -3px;
    background-color: cornflowerblue;
    color:lavenderblush;

}
.value-set{
    border-radius: 4px;
    margin-left: 5px;
    
    height: 35px;
    background-color: aliceblue;
    color: midnightblue;
    
}
.well-modified{
   border-radius: 6px;
    background: linear-gradient(pink,beige);
}
.customed {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btn-modified{
    width:100px;
    transition:  width 5s;
}

.btn-modified:hover{
    background-color: palevioletred;
    transform: rotate(10deg);
    width:150px;
}
.pending{
    color:coral;
    font-family:cursive;
    font-size: 20px;
}
.task-pending{
    box-shadow: 3px 3px blue;
    
}
.clock{
    color:crimson;
    font-size: 25px;
   margin-top: 10px;
}
@media screen and (max-width:480px)
{
	.modified{
	background: radial-gradient(blue,white);	
	}
	
	.btn-modified
	{
		background-color:blueviolet;
		border:1px solid black; 
		text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		color: #FFFFFF;	
	}

}

@media screen and (min-width:481px)
{
	.btn-modified
	{
		
		
	}
}